*{ margin: 0;
	padding: 0; }

h1{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 35px;
}
h5{
	margin: 10px;
	font-size: 16px;
}
h4{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

hr{der:0;border-top:1px solid #eee;margin:20px 0;}



	/*navigation*/
nav{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
ul{
	list-style-type: none;
	background-color: white;
	margin: 0;
	padding: 0;
	overflow:hidden;

	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);

}
li{
	float: right;
}

li a{
	display: block;
	text-decoration: none;
	color: black;
	padding: 14px 16px;
	margin: 8px;
}
li a:hover{
	background-color: #ddd;
}
li:first-child{
	float: left;
	margin-left: 16px;
}
.dropdebs{
	display: inline-block;
}
.downdebs{
	display: none;
	position: absolute;
	z-index: 1;
}
.downdebs a{
	display: block;
	background-color: gray;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	opacity: 0.5;
	border-right: none;
	color: white;
	margin: 0;
}
.dropdebs:hover .downdebs{
	display: block;
}
.downdebs a:hover{
	color: black;
	opacity: 1;
}



	/*Heaer*/
header{
	position: relative;

}
footer{
	border-top: 1px solid gray;
}
div.foot{
	color: gray;
	text-align: center;
}
div.foot a{
	text-decoration: none;
	list-style-type: none;
}

/*메인 페이지의 소개, 위치 이미지*/
#mainpic1{
	float: left;
	display: inline;
	width: 500px;
	margin : 10px;
	margin-right: 40px;
	opacity: 0.7;
}
#maintext1{
	padding-left: 10px;
}
.main1{
	margin-left: 15%;
	margin-right: 15%;
}
#mainpic2{
	float: right;
	display: inline;
	margin: 10px;
	opacity: 0.7;
}
#maintext2{
	padding-left: 10px;
}
.main2{
	clear: left;
	margin-left: 15%;
	margin-right: 15%;
}
#mainpic3{
	float: right;
	display: inline;
	margin: 10px;
}
#maintext3{
	padding-left: 10px;
}
.main3{
	clear: right;
	margin-left: 15%;
	margin-right: 15%;
}
footer{
	clear: right;
}